<!-- head template -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="pages.css">

<script>var dojoConfig = {parseOnLoad: true};</script>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/dojo.js"></script>
<script type="text/javascript" src="jssaxparser/sax.js"></script>
<script type="text/javascript" src="jssaxparser/DefaultHandlers.js"></script>
<script type="text/javascript" src="resources/json2.js"></script>
<!-- while developing do this combined with the r mangler to make IE load the scripts all the time add to the scripts ?version=#random#"-->
<script type="text/javascript" src="index.js"></script>
<script type="text/javascript" src="pages.js"></script>
