        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- template file for pages with esri maps -->
        <link rel="stylesheet" href="http://serverapi.arcgisonline.com/jsapi/arcgis/3.3/js/esri/css/esri.css">
        <link rel="stylesheet" href="pages.css" type="text/css">
        <link rel='stylesheet' href='mediaqueries.css' type='text/css'>

        <script type="text/javascript" src="http://serverapi.arcgisonline.com/jsapi/arcgis/3.3/"></script>
        <script>var dojoConfig = {parseOnLoad: true};</script>
        <script type="text/javascript" src="jssaxparser/sax.js"></script>
        <script type="text/javascript" src="jssaxparser/DefaultHandlers.js"></script>
        <script src="index.js"></script>
        <script src="pages.js"></script>
        <script src="queryResult.js"></script>
        <script src="RainbowVis-JS-master/rainbowvis.js"></script>
