<!-- navigation template fragment -->
<div id='container'>
    <header>
        <nav role="navigation">
            <ul>
		        <li><a href="index.html" title="Return to the homepage"><img src='resources/home.gif'/></a></li>
		        <li><a href="index.html" title="Return to the homepage">SDMX Query <!--#title.html#--></a></li>
		        <li>
                    <a href='rpage?concepts.html'>Concepts</a>
                </li>
		        <li>
                    <a href='rpage?explore.html'>Explore maps</a>
                </li>
                <li><a href="rpage?about.html" title='About this site'>About</a></li>
            </ul>
	        <hr/>
        </nav>
    </header>
</div>