<html>
<head>
<title>#name#</title>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<!-- template for storing query stubs for web indexing-->
<!--#head.html#-->
<script>
dojo.ready(function() {
var fileName = dojo.byId( 'filename').value;
showQuery( fileName );
});
</script></head><body>
<input type='text' id='query0'  value='#query0#'/>
<input type='text' id='query1'  value='#query1#'  style='display:none'/>
<input type='text' id='query2'  value='#query2#'  style='display:none'/>
<input type='text' id='title'   value='#title#'   style='display:none'/>
<input type='text' id='options' value='#options#'/>
<input type='text' id='filename' value='#filename#' style='display:none'/>
<h1>#name#</h1></body>
</html>
